<h1>this is the signup form</h1>

<form action="/signup" method="POST">
  <label>Name</label>
  <input name="username" type="text" placeholder="Enter Name"  >

  <label>Password</label>
  <input name="password" type="password"  placeholder="Enter your Password"  >
  <button>Sign Up</button>
</form>


{{#if msg}}
  <div class="error">{{msg}}</div>
{{/if}}